<nav class="navbar navbar-inverse" >
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="/dashboard">Dashboard</a>
        </div>
    <ul class="nav navbar-nav navbar-right">
    <li ng-show="!visibility"><a href="#" (click)="logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
        </div>
  </nav>

<div class="container">
  <div class="registration-form">
      <div class="main-div">
          <div class="panel">
            <h2>{{this.title}}</h2>
            <p *ngIf="title == 'Registration'">Please enter all the fields</p>
         </div>
         <form  (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
            <div class="form-group">
                  <label>First Name</label>
                  <input type="text"
                         class="form-control" name="firstname" [(ngModel)]="firstname" #firstName="ngModel" required minlength="8" [ngClass]="{
                          'has-error': f.submitted && firstName?.invalid ,
                          'has-success': f.submitted && firstName?.valid}">
                          <div *ngIf="f.submitted && firstName?.invalid" class="error">FirstName is required</div>
                          <!-- if we assign the names to ngModel like  #firstName="ngModel", then we can directly use these names for accessing the elements -->
                </div>
            
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text"
                         class="form-control" name="lastname" [(ngModel)]="lastname" #lastName="ngModel" required minlength="8" [ngClass]="{
                          'has-error': f.submitted && lastName?.invalid ,
                          'has-success': f.submitted && lastName?.valid}">
                          <div *ngIf="f.submitted && lastName?.invalid" class="error">LastName is required</div>
                </div>            
              <div class="form-group">
                <label>Email</label>
                <input type="email"
                       class="form-control" name="email" [(ngModel)]="email" #Email="ngModel"
                       required
                       pattern="[^ @]*@[^ @]*" [ngClass]="{
                        'has-error': f.submitted && Email?.invalid ,
                        'has-success': f.submitted && Email?.valid }">
                <div *ngIf="f.submitted && Email?.invalid" class="error">Email is required</div>
          
              </div>
              <div class="form-group">
                <label>Phone</label>
                <input type="Phone"
                       class="form-control" name="phone" [(ngModel)]="phone" #Phone="ngModel"
                       required 
                       [ngClass]="{
                        'has-error': f.submitted && Phone?.invalid ,
                        'has-success': f.submitted && Phone?.valid }">
                <div *ngIf="f.submitted && Phone?.invalid" class="error">Phone is required</div>
          
              </div>
            
              <div class="form-group">
                <label>Password</label>
                <input type="password"
                       class="form-control" name="password" [(ngModel)]="password" #passWord="ngModel" minlength="8" required [ngClass]="{
                        'has-error': f.submitted && passWord?.invalid,
                        'has-success': f.submitted && passWord?.valid}">
                  <div *ngIf="f.submitted && passWord?.invalid" class="error">Password is required</div>
              </div>
            
              <div class="form-group">
                <label>Language</label>
                <select class="form-control" name="language" ngModel>
                  <option value="">Please select a language</option>
                  <option *ngFor="let lang of langs"
                          [value]="lang">
                          {{lang}}
                  </option>
                </select>
              </div>
              <span>
                  <button type="submit" class="btn btn-primary margin-right">Save</button>
                  <a href="/" *ngIf="title == 'Registration'">Go to home page</a>
              </span>
          </form>
          </div>
  </div>
</div>
  
    
  