<div class="container">
    <div class="login-form">
    <div class="main-div">
        <div class="panel">
          <h2>Login</h2>
          <p>Please enter your email and password</p>
       </div>
       <div *ngIf="this.isValid == false" style="color:red;">Invalid Credentials</div>
        <form id="Login" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
            <div class="form-group">
                <input type="email"
                class="form-control" name="email" [(ngModel)]="email" #Email="ngModel"
                required
                pattern="[^ @]*@[^ @]*" [ngClass]="{
                 'has-error': f.submitted && Email?.invalid ,
                 'has-success': f.submitted && Email?.valid }" [ngStyle]="{'border-color': (this.isValid == false && this.isClicked == true)? 'red' : ''}">
                 <div *ngIf="f.submitted && Email?.invalid" class="error">Email is required</div>
            </div>
            <div class="form-group">
                <input type="password"
                  class="form-control" name="password" [(ngModel)]="password" #passWord="ngModel" minlength="8" required [ngClass]="{
                  'has-error': f.submitted && passWord?.invalid,
                  'has-success': f.submitted && passWord?.valid}" [ngStyle]="{'border-color': (this.isValid == false && this.isClicked == true)? 'red' : ''}">
                  <div *ngIf="f.submitted && passWord?.invalid" class="error">Password is required</div>
            </div>
            <span>
                <button type="submit" class="btn btn-primary margin-right">Login</button>
                <a href="/registration">Click here to register</a>
            </span>
        </form>
        </div>
    </div>
  </div>


  