
    <nav class="navbar navbar-inverse" *ngIf="router.url == '/dashboard'">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand">Dashboard</a>
                </div>
            <ul class="nav navbar-nav navbar-right">
            <li ng-show="!visibility"><a href="#" (click)="logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                </ul>
            </div>
    </nav>
   <router-outlet>
    <div align="center" *ngIf="router.url == '/dashboard'">
        <table class="table table-striped"  [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5" style="width:1156px !important;margin:auto 0px;margin-top:30px;" align="center">
        <thead>
        <tr>
            <th style="width: 12%">
                <mfDefaultSorter by="">S.NO</mfDefaultSorter>
            </th>
            <th style="width: 12%">
                <mfDefaultSorter by="name">Name</mfDefaultSorter>
            </th>
            <th style="width: 14%">
                <mfDefaultSorter by="email">Email</mfDefaultSorter>
            </th>
            <th style="width: 14%">
                <mfDefaultSorter by="age">Mobile</mfDefaultSorter>
            </th>
            <th style="width: 14%">
                <mfDefaultSorter by="city">City</mfDefaultSorter>
            </th>
            <th colspan="2" style="width: 20%">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of mf.data; let i = index">
            <td scope="row">{{ i + 1 }}</td>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td class="text-right">{{item.mobile}}</td>
            <td>{{item.city | uppercase}}</td>
            <td colspan="2"><button class="btn" (click)="deleteUser(item)"> Delete</button>
                <button class="btn" (click)="edit(item)"  style="margin-left: 20px;"> Edit</button></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
        </tr>
        </tfoot>
    </table>
    </div>
</router-outlet>
      
              
              